@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 500px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
caption{
    font-size: 1.3em;
    background-color: gray;
    color: white;
}
table td, th{
    padding: 5px;
    border: 1px solid black;
}